<div class="ui fluid card">
    <div class="ui right floated">
        <app-plot-permalink [url]="getPermalink()"></app-plot-permalink>
    </div>
    <div class="content noborder" [@verticalSlideDown]>
        <h4 class="ui header">
            <ng-katex-paragraph *ngIf="titleSet(); else noset" [paragraph]="header()"></ng-katex-paragraph>
            <ng-template #noset>
                <div></div>
            </ng-template>
        </h4>
        <a class="meta" [routerLink]="sessionLink()">{{getSession()}}</a>
        <!-- <div class="ui divider"></div> -->
    </div>
    <div class="content noborder">
        <div class="ui stackable compact grid">
            <div class="four wide column">
                <div class="image holdplace">
                    <div class="ui active inverted dimmer" *ngIf="!isLoaded">
                        <div class="ui text loader"></div>
                    </div>
                    <ng-container *ngFor="let u of url('png')">
                        <img [src]="u" class="ui image pointer" (click)="showModal(u)" (load)="setLoad(true)">
                    </ng-container>
                </div>
            </div>
            <div class="twelve wide column">
                <div class="content">
                    <p class="description justify" *ngFor="let i of captions()">
                        <ng-katex-paragraph [paragraph]="i"></ng-katex-paragraph>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="ui horizontal list">
            <div class="item">
                <app-icon *ngFor="let u of plot.files()" [format]="ext(u)" (click)="save(u)" [title]="basename(u)">
                </app-icon>
            </div>
            <div class="item">
                <a *ngFor="let tag of plot.tags" class="ui small gray label padded" (click)="setTag(tag)"
                    [ngClass]="getTagClass(tag)">{{tag}}</a>
            </div>
        </div>
        <div class="right floated meta">{{date()}}</div>
    </div>
</div>