<div class="ui card">
    <div class="ui right floated">
        <app-plot-permalink [url]="getPermalink()"></app-plot-permalink>
    </div>
    <!-- NOT MINIFIED CARD -->
    <ng-template [ngIf]="!minified" [ngIfElse]="miniBlock">
        <div class="content noborder" [@verticalSlideDown]>
            <h4 class="ui header">
                <ng-katex-paragraph *ngIf="titleSet(); else noset" [paragraph]="header()"></ng-katex-paragraph>
                <ng-template #noset>
                    <div></div>
                </ng-template>
            </h4>
            <a class="right floated meta" [routerLink]="sessionLink()">{{getSession()}}</a>
            <div class="ui divider"></div>
        </div>
        <div class="image holdplace">
            <div class="ui active inverted dimmer" *ngIf="!isLoaded">
                <div class="ui text loader"></div>
            </div>
            <app-image-paginator [urls]="url('png')" [click]="showModal" (loadEvt)="setLoad(true)">
            </app-image-paginator>
        </div>
        <div class="centered" (click)="toggleCollapse()">
            <i class="ui centered angle icon" [ngClass]="{'up': !isCollapsed(), 'down': isCollapsed()}"></i>
        </div>
        <div class="content" *ngIf="!isCollapsed()" [@verticalSlideTop]>
            <p class="description justify" *ngFor="let i of captions()">
                <ng-katex-paragraph [paragraph]="i"></ng-katex-paragraph>
            </p>
        </div>
        <div class="content">
            <a *ngFor="let tag of plot.tags" class="ui small gray label padded" (click)="setTag(tag)"
                [ngClass]="getTagClass(tag)">{{tag}}</a>
        </div>
    </ng-template>

    <!-- MINIFIED CARD -->
    <ng-template #miniBlock>
        <div class="image holdplace" suiPopup [popupTemplate]="headerPopup" popupPlacement="bottom">
            <div class="ui active inverted dimmer" *ngIf="!isLoaded">
                <div class="ui text loader"></div>
            </div>
            <app-image-paginator [urls]="url('png')" [click]="showModal" (loadEvt)="setLoad(true)">
            </app-image-paginator>
            <ng-template let-popup #headerPopup>
                <ng-katex-paragraph *ngIf="titleSet(); else nosetp" [paragraph]="header()"></ng-katex-paragraph>
                <ng-template #nosetp>
                    <p *ngIf="!titleSet()">No title</p>
                </ng-template>
            </ng-template>
        </div>
    </ng-template>

    <!-- COMMON FOOTER -->
    <div class="content">
        <ng-container *ngFor="let u of plot.files()">
            <app-icon [format]="ext(u)" (click)="save(u)" [title]="basename(u)"></app-icon>
        </ng-container>
        <ng-template [ngIf]="minified" [ngIfElse]="minidate">
            <div class="ui dropdown" suiDropdown>
                <div class="text">Tags</div>
                <i class="dropdown icon"></i>
                <div class="menu" suiDropdownMenu>
                    <div class="item" *ngFor="let tag of plot.tags" (click)="setTag(tag)"
                        [ngClass]="{'dropsel': isTagChecked(tag)}">{{tag}}</div>
                </div>
            </div>
            <a class="right floated meta" [routerLink]="sessionLink()" suiPopup [popupTemplate]="datePopup"
                popupPlacement="bottom">{{getSession()}}</a>
            <ng-template let-popup #datePopup>
                {{date()}}
            </ng-template>
        </ng-template>
        <ng-template #minidate>
            <div class="right floated meta">{{date()}}</div>
        </ng-template>
    </div>
</div>