p.justify {
    text-align: justify;
}

.card {
    width: auto !important;
    padding: 10px !important;
    box-shadow:  0 1px 3px 0 gray,0 0 0 1px #d4d4d5;
}

.padded {
    margin: 2px;
}

a.usual {
    color: gray;
}

.centered {
    text-align: center;
    cursor: pointer;
}