<div class="ui card">
    <div class="ui right floated">
        <app-plot-permalink [url]="getPermalink()"></app-plot-permalink>
    </div>
    <div class="content noborder" *ngIf="!minified" [@verticalSlideDown]>
        <h4 class="ui header">
            <ng-katex-paragraph *ngIf="titleSet()" [paragraph]="header()"></ng-katex-paragraph>
            <div *ngIf="!titleSet()"></div>
        </h4>
        <a class="right floated meta" (click)="setSession()">{{getSession()}}</a>
        <div class="ui divider"></div>
    </div>
    <div class="image holdplace" *ngIf="minified" suiPopup [popupTemplate]="headerPopup" popupPlacement="bottom">
        <div class="ui active inverted dimmer" *ngIf="!isLoaded">
            <div class="ui text loader"></div>
        </div>
        <img [src]="url('png')" class="ui image pointer" (click)="showModal()" (load)="setLoad(true)">
        <ng-template let-popup #headerPopup>
            <ng-katex-paragraph *ngIf="titleSet()" [paragraph]="header()"></ng-katex-paragraph>
            <p *ngIf="!titleSet()">No title</p>
        </ng-template>
    </div>
    <div class="image holdplace" *ngIf="!minified">
        <div class="ui active inverted dimmer" *ngIf="!isLoaded">
            <div class="ui text loader"></div>
        </div>
        <img [src]="url('png')" class="ui image pointer" (click)="showModal()" (load)="setLoad(true)">
    </div>
    <ng-container *ngIf="!minified">
        <div class="centered" (click)="toggleCollapse()">
            <i class="ui centered angle icon" [ngClass]="{'up': !isCollapsed(), 'down': isCollapsed()}"></i>
        </div>
        <div class="content" *ngIf="!isCollapsed()" [@verticalSlideTop]>
            <p class="description justify" *ngFor="let i of captions()">
                <ng-katex-paragraph [paragraph]="i"></ng-katex-paragraph>
            </p>
        </div>
        <div class="content">
            <a *ngFor="let tag of plot.tags" class="ui small gray label padded" (click)="setTag(tag)"
                [ngClass]="getTagClass(tag)">{{tag}}</a>
        </div>
    </ng-container>
    <div class="content">
        <ng-container *ngFor="let fmt of plot.formats">
            <app-icon [format]="fmt" (click)="save(url(fmt))"></app-icon>
        </ng-container>
        <!-- for minified -->
        <ng-container *ngIf="minified">
            <div class="ui dropdown" suiDropdown>
                <div class="text">Tags</div>
                <i class="dropdown icon"></i>
                <div class="menu" suiDropdownMenu>
                    <div class="item" *ngFor="let tag of plot.tags" (click)="setTag(tag)"
                        [ngClass]="{'dropsel': isTagChecked(tag)}">{{tag}}</div>
                </div>
            </div>
            <a class="right floated meta" (click)="setSession()" suiPopup [popupTemplate]="datePopup"
                popupPlacement="bottom">{{getSession()}}</a>
            <ng-template let-popup #datePopup>
                {{date()}}
            </ng-template>
        </ng-container>
        <div class="right floated meta" *ngIf="!minified">{{date()}}</div>
    </div>

</div>