<h4>
    Filter by session
    <div class="ui input">
        <input type="text" placeholder="Search..." [value]="filter" (change)="filterChange($event)">
    </div>
</h4>
<table class="ui celled table">
    <thead>
        <tr>
            <th class="center aligned">#</th>
            <th class="center aligned">Session</th>
            <th class="center aligned">Title</th>
            <th class="center aligned">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let session of sessions, let i = index">
            <td data-label="#" class="center aligned"> {{sessions.length - i}}</td>
            <td data-label="Session" class="center aligned">
                <a [routerLink]="sessionURL(session)">
                    {{session.session}}
                </a>
            </td>
            <td data-label="Title">
                <ng-katex-paragraph [paragraph]="session.title"></ng-katex-paragraph>
            </td>
            <td data-label="Date" class="center aligned">
                {{formatDate(session.date)}}
            </td>
        </tr>
    </tbody>
</table>