<div class="ui sixteen column centered vertically divided grid">
    <div class="ui row" *ngFor="let session of sessions, let i = index">
        <div class="one wide middle aligned column">
            {{sessions.length - i}}
        </div>
        <div class="two wide middle aligned column">
            <b>
                <a routerLink="/" [queryParams]="sessionObj(session)">
                    {{session.session}}
                </a>
            </b>
        </div>
        <div class="ten wide column">
            <ng-katex-paragraph [paragraph]="session.title"></ng-katex-paragraph>
        </div>
        <div class="two wide middle aligned column">
            {{formatDate(session.date) | date}}
        </div>
    </div>
</div>