.padded {
    margin-bottom: 5px !important;
}

.mainpage{
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
}

.topspace{
    margin-top: 5px;
}

.usual {
    color:black;
}

.pointer {
    cursor: pointer;
}

.padright {
    margin-right: 5px !important;
}

.padbottom {
    margin-bottom: 10px;
}