<app-header></app-header>

<div class="mainpage">

    <div class="ui stackable grid">
        <div class="four wide column">
            <h4 class="ui header">Approval session
                <sui-select class="selection" [(ngModel)]="session" [options]="getSessions()" labelField="session"
                    [isSearchable]="true" #templated>
                    <sui-select-option *ngFor="let o of templated.filteredOptions" [value]="o"></sui-select-option>
                </sui-select>
            </h4>
        </div>
        <div class="two wide middle aligned column">
            <!-- end select session -->
            <div class="ui toggle checkbox">
                <!-- (click)="true" is hack to enable #globCaptions.checked binding -->
                <input type="checkbox" #globCaptions (click)="true">
                <label>Captions</label>
            </div>
        </div>
        <div class="sixteen wide column">
            <h3 class="ui header">
                Tags
            </h3>
            <div class="padbottom">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." [(ngModel)]="filter" class="padright">
                    <i class="search icon"></i>
                </div>
                <ng-container *ngFor="let box of split()">
                    <label class="ui label topspace">{{box}}
                        <i class="close icon" (click)="removeFromFilter(box)"></i>
                    </label>
                </ng-container>
            </div>
            <div class="ui divider"></div>
            <label *ngIf="getTags().length === 0" class="ui large yellow label">
                No tags match expression
            </label>
            <div class="ui labeled button padded" tabindex="0" *ngFor="let tag of getTags()">
                <button class="ui button" (click)="toggleTag(tag)" [ngClass]="{'primary': isTagSelected(tag)}">
                    {{tag}}
                </button>
                <a class="ui basic label">
                    {{numberPlots(tag)}}
                </a>
            </div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui stackable four column grid">
        <div class="ui row">
            <div class="sixteen wide column" *ngIf="sessionSelected()">
                <!-- Session info -->
                <h3>{{session.session}}: {{session.title}} ({{session.date.trim()}})</h3>
                <p>{{session.abstract}}</p>
                <p>
                    <a [href]="session.CDS" target="_blank">CDS entry</a> | <a [href]="session.iCMS"
                        target="_blank">iCMS entry</a>
                </p>
            </div>
        </div>
        <div class="wide column" *ngFor="let i of getPlots()">
            <app-plot-card [plot]="i" [collapsed]="!globCaptions.checked" (sessionclick)="setSessionPlot($event)">
            </app-plot-card>
        </div>
    </div>
</div>

<app-footer></app-footer>