<h1 class="ui header">
    <a routerLink="" class="ui huge image" (click)="currentSection = null"><img  src="assets/favicon.png" style="width: 1.8em"></a>
    <ng-container *ngIf="multipleSections()">
        <a [routerLink]="getURL(prev)">
            <i class="ui angle left icon"></i>
        </a>
        <div class="ui  dropdown" suiDropdown [(isOpen)]="isOpen">
            <div class="text">
                <h1>
                    {{currentSection !== null ? currentSection.title : "Select subsystem"}}
                </h1>
            </div>
            <div class="menu" suiDropdownMenu>
                <a [routerLink]="getURL(s)" class="item" *ngFor="let s of allSections">
                    <h1 (click)="isOpen = false">
                        {{s.title}}
                    </h1>
                </a>
            </div>
        </div>
        <a [routerLink]="getURL(next)">
            <i class="ui angle right icon"></i>
        </a>
    </ng-container>
    <a class="main" routerLink="/" *ngIf="!multipleSections()">
        {{currentSection?.title}}
    </a>
</h1>
